/** Menu style **/

menu{
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

menu ul{
  list-style-type: none;
  display: flex;
  width: inherit;
}

.menu-link {
  text-decoration: none !important;
  color: inherit;
}

.online-menu{
  justify-content: flex-end;
}

.sign-in-button{
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 255);
  text-shadow: 2px 1px black
}

.main-item-menu, .online-item-menu{
  padding: .1em 1em .2em 1em;
  margin: .1em 1em .1em 1em;
  border-radius: .5em;
}
